<mat-card>
  <!--<form [formGroup]="form" (submit)="onSubmit()">-->

    <!--<mat-form-field>-->
      <!--<input matInput type="email" formControlName="email" placeholder="Email">-->
      <!--<mat-error *ngIf="form.get('email').invalid">Please enter valid email.</mat-error>-->
    <!--</mat-form-field>-->

    <!--<button mat-raised-button [disabled]="form.valid == false" color="primary" type="submit">Send</button>-->
  <!--</form>-->
<!--</mat-card>-->
<!--<mat-card *ngIf="new_key" class="relative">-->
  <!--<mat-card-title>Success!</mat-card-title>-->
  <!--<br>-->
  <!--<mat-card-subtitle id="confirmation-subtext">-->
    <!--An email has been sent to {{form.value.email}}-->
  <!--</mat-card-subtitle>-->
  <!--<button mat-raised-button id="home-button" (click)="nav_srvc.onClick('')" color="primary">Home</button>-->
  <p>Please <a href="mailto:nasa-data@lists.arc.nasa.gov">contact</a> us for help recovering an old API key</p>
</mat-card>
