<mat-card>
  <div id="apidatagov_signup">Loading signup form...</div>
</mat-card>



  <!--<form [formGroup]="form" (submit)="onSubmit()">-->
    <!--<mat-form-field>-->
      <!--<input matInput type="text" formControlName="first_name" placeholder="First Name">-->
      <!--<mat-error *ngIf="form.get('first_name').invalid">Please enter first name.</mat-error>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput type="text" formControlName="last_name" placeholder="Last Name">-->
      <!--<mat-error *ngIf="form.get('last_name').invalid">Please enter last name.</mat-error>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput type="email" formControlName="email" placeholder="Email">-->
      <!--<mat-error *ngIf="form.get('email').invalid">Please enter valid email.</mat-error>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<textarea matInput rows="4" formControlName="api_use" placeholder="How will you use the APIs?"></textarea>-->
    <!--</mat-form-field>-->

    <!--<button mat-raised-button [disabled]="form.valid == false" color="primary" type="submit">Generate</button>-->
  <!--</form>-->

<!--<mat-card *ngIf="new_key">-->
  <!--<mat-card-title>Success!</mat-card-title>-->
  <!--<br>-->
  <!--<mat-card-subtitle>API Key: {{new_key}}</mat-card-subtitle>-->
<!--</mat-card>-->

